**/__pycache__/
**/.terraform/
**/.env
pulumi/talos-cluster-baremetal/outputs/
pulumi/gke-cluster/outputs/
.sisyphus/**

# Beads / Dolt files (added by bd init)
.dolt/
*.db
.beads-credential-key
.env
docs/reference-project-docs/
.DS_Store
